.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, transparent 50%, var(--color2) 50%);

}

h3 {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    color: white;
}

.typingAnimation {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0.5rem;
    padding: 0;
    animation: typing 4s steps(9, end) infinite;
    overflow: hidden;
    color: white;
    border-right: 1px solid var(--color1);
}

@keyframes typing {
    from {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    to {
        width: 0%;
    }
}