.firstPanel {
    display: flex;
    height: 100vh;
    border: none;
    position: fixed;
    left: 0;
    z-index: 100;
    transform: translate(-30vw, 0);
    transition: all ease-in-out 0.5s;
}

.firstPanel div:first-child {
    position: relative;
}

.firstPanel.expanded {
    transform: translate(0, 0);
    transition: all ease-in-out 0.5s;
}

.firstPanel .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.extendButton {
    border: 3px solid var(--theme);
    height: 3.2rem;
    width: 23vw;
    max-width: 20rem;
    font-size: larger;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    padding: 0.5rem 1rem;
    right: -22vw;
}




.base.expanded {
    transform: translate(-20vw, 0);
    transition: all ease-in-out 0.5s;
}


.extendButton.expanded {
    transform: rotate(180deg);
    padding: 1rem;
    width: 3.2rem;
}


.extendButton:hover .svg {
    fill: black;
}

.extendButton:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.extendButton.expanded:hover {
    transform: scale(1.1) rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.svg {
    fill: var(--theme);
    min-width: 2.4rem;
    min-height: 2.4rem;
    cursor: pointer;
}


.content {
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    background-color: var(--theme);
    background-image: url("../../assets/textures/cubes.png");
    position: relative;
    display: flex;
    height: 100vh;
    width: 70vw;
    z-index: 3;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    border: none;
    justify-content: space-evenly;
}


.content__main {
    box-sizing: border-box;
    padding: 2rem 3rem 2rem 1rem;
    position: relative;
    display: flex;
    width: 40vw;
    overflow: hidden;
    margin: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}