.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 9rem;
    border-radius: 2rem;
    border: 2px solid var(--theme);
    padding: 1rem;
    gap: 1rem;
}

.container:hover {
    background-color: var(--theme-dark);
    cursor: pointer;
}

.dates {
    font-size: 0.5em;
    margin: 0;
    font-weight: bold;
    color: white;
}

.title {
    font-size: 0.5em;
    margin: 0;
    font-weight: bold;
    color: white;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.5em;
}

.duties {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 0.5em;
}

.companyName {
    font-size: 0.5em;
    margin: 0;
    font-weight: bold;
    color: white;
}