.PresentationInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .PresentationInfo {
        flex-direction: row;
        align-items: center;
    }
    
}


.blackBackground{
    padding: 0.5rem;
    background-color: var(--color1);
    border-radius: 2rem;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    box-shadow: 1rem 0.5rem 1rem rgba(0,0,0,0.5);
}


img{
    width: 6rem;
    height: 6rem;
}