.PresentationInfo {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .PresentationInfo {
        flex-direction: row;
        align-items: center;
    }

}


.blackBackground {
    padding: 1rem 2rem;
    gap: 1.5rem;
    background-color: var(--color1);
    border-radius: 2rem;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    min-width: 22vw;
    margin: 0;
    box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    width: 6rem;
    height: 6rem;
}

.title {
    font-size: 1.4em;
    margin: 0;
    font-weight: bold;
    color: white;
}


p {
    display: flex;
}