.base {
    width: 100%;
    display: flex;
    justify-content: center;
}

.base button {
    background-color: var(--color1);
    border-radius: 1rem;
    display: flex;
    border: none;
    font-size: 1.2rem;
    padding: 3px 10px;
    margin: 0 10px;
    align-items: center;
    color: white;
}


.base button:hover{
    background-color: var(--color1-dark);
    transform: scale(1.1);
    cursor: pointer;
}

.a{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
