.button {
    padding: 0px 10px;
    border: 3px solid var(--theme);
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    color: #ddd;
    transition: .3s;
    z-index: 1;
    cursor: pointer;
}

.button::before {
    content: '';
    width: 0;
    height: 800%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--theme);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button:hover::before {
    width: 105%;
}

.button:hover {
    color: #111;
}

.button:hover .svg {
    fill: black;
}