.secondPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    margin: 0 0 0 auto;
    align-items: flex-end;
}



.svg:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}