.contactPanel {
    margin: 0 0 3rem 0;
    width: 60vw;
    height: 80vh;
    border: 2px solid var(--theme);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    color: var(--theme);
}

@media (max-width: 700px) {
    .contactPanel {
        width: 80vw;
        margin: 0 0 5rem 0;
    }


}

.contactPanel h1 {
    color: var(--theme);
}

.contactPanel button {
    background-color: var(--theme);
    color: var(--color1);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contactPanel button:hover {
    background-color: var(--color1);
    border: 2px solid var(--theme);
    color: var(--theme);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}