.firstPanel {
    display: flex;
    width: 40vw; 
    height: 100vh; 
    border: none;
   
    /*! This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    position: relative; 
    transition: all 0.5s ease-in-out;
}

.firstPanel:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.firstPanel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


.content{
    padding: 2rem 2rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%; 
    z-index:3 ;
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    background-color: var(--color2);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    box-sizing: border-box;
}

.content h1 {
    color: var(--color1);
    font-size:  3em;
    font-weight: bold;
    padding: 0;
    margin: 0 2rem 0 0;
}
.content p {
    padding: 1rem;
    background-color: var(--color1);
    border-radius: 2rem;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 2rem 0 0;
    box-shadow: 1rem 0.5rem 1rem rgba(0,0,0,0.5);
}