.App {
  text-align: center;
  width: 100vw; 
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color:var(--color1); 

background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color: var(--color1);
  z-index: 1;
  position: fixed;
  right: 0;
}