.App {
  text-align: center;
  width: 100vw; 
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color:var(--color1); 
  background-image: url("../../assets/textures/dark-brick-wall.png");
}


.img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color: var(--color1);
  z-index: 1;
  position: fixed;
  right: 0;
}


a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: auto;
  display:block;
}
